/** ********** Colors ********** **/
@define-color background      #000000;
@define-color background-alt1 #101010;
@define-color background-alt2 #1a1a1a;
@define-color foreground      #CDD6F4;
@define-color selected        #89B4FA;
@define-color black           #45475A;
@define-color red             #F38BA8;
@define-color green           #A6E3A1;
@define-color yellow          #F9E2AF;
@define-color blue            #89B4FA;
@define-color magenta         #F5C2E7;
@define-color cyan            #94E2D5;
@define-color white           #BAC2DE;
